In [ ]:
-- Can connect by running a query or with '%sqlconnect'
-- Note that interrupting queries is done by pressing ii. Restart queries can be done using 00
show databases
-- This command is auto-vized, we could change this pretty easily, think we would want to...

In [ ]:
-- List only sql magics - for all magics do %lsmagic
%ls_sqlmagics

In [ ]:
-- Print the current connection
%sqlconfig -p

In [ ]:
-- Change config
%sqlconfig -c
port: 20000
user: 'tnystrand'
conf: {'SET hive.exec.max.dynamic.partitions': 10000}

In [ ]:
-- Reset config
%sqlconfig -r

In [ ]:
-- Show tables...
use tpcds_bin_partitioned_orc_1000;
show tables;

In [ ]:
%sqlconfig

In [ ]:
describe call_center;

In [ ]:
select * from call_center limit 10

In [ ]:
-- Printing the dataframe
thrift_df

In [ ]:
-- Printing the logs
thrift_logs

In [ ]:
-- Running python code needs the local prefix
%local
ids = range(0,10,3)
thrift_df.take(ids)

In [ ]:
-- Setting a local variable
%local
start_date = '1998-01-01'

In [ ]:
-- Running with a local variable
select * from call_center where cc_rec_start_date='%(start_date)s' limit 1

In [ ]:
-- Running with a hive variable variable
set hivevar:start_date='1998-01-01';
select * from call_center where cc_rec_start_date=${start_date} limit 1

In [ ]:
-- Friendly error messages...
select * from call_center where cc_rec_start_date=%{end_date}s limit 1

In [ ]:
-- Missing LOCAL variables are requested (and saved to local namespace after run)
-- We porbably want to add a templating feature which asks for all variables specified as %<default> right away
select * from call_center where cc_rec_start_date='%(end_date)s' limit 1

In [ ]:
-- Specific templating
select * from call_center where cc_rec_start_date between '$<start_date=1998-01-01>' and '$<end_date>' limit 1

In [ ]:
%local
start_date='1998-01-02'